<app-main-nav>
  <!-- <mat-card>
    <mat-card-title class="text-center">
      <div class="col-md-12 text-center">
  <p>This is My Profile</p>
      </div>
    </mat-card-title>
    <mat-card-content>
      coba ini apa
    </mat-card-content>
  </mat-card> -->

  <!-- <div class="main-div">
    <mat-card>
      <mat-card-header>Ini akan jadi Header</mat-card-header>
    </mat-card>
  </div> -->

  <!-- <mat-grid-list cols="1" rows="1" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">
            tes
          </label>
          tes ya
        </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list> -->

<div class="example-container">
  <mat-form-field hintLabel="Max 10 characters" appearance="fill">
    <mat-label>Enter some input</mat-label>
    <input matInput #input maxlength="10" placeholder="Ex. Nougat">
    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select me</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
  </mat-form-field>
</div>

<div class="example-container">
  <mat-form-field hintLabel="Max 10 characters" appearance="fill">
    <mat-label>Enter some input</mat-label>
    <input matInput #input maxlength="10" placeholder="Ex. Nougat">
    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select me</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
  </mat-form-field>
</div>

</app-main-nav>

