<!-- Toolbar -->
<app-main-nav>
  <!-- <button mat-raised-button color="accept">Click Me</button> -->
  <!-- <mat-toolbar color="primary" class="app-header"></mat-toolbar> -->
  
  <router-outlet></router-outlet>
</app-main-nav>
<!-- --------------------------------------------------------------------------------- -->

<!-- <mat-toolbar color="primary" class="app-header">
  <div><a href="https://www.google.com" target="_blank" class="positronx">Build</a></div>
  <span class="nav-tool-items">
    <button mat-button>Menu</button>
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-main-nav>
  <button mat-raised-button color="accept">Click Me</button>
</app-main-nav> -->
<!-- ------------------------------------------------------------------------------------------ -->
<!-- Pembuatan Menu -->
<!-- <app-menu
  [trigger]="'Foods'"
  [data]="initialData"
  [isRootNode]="true"
></app-menu>
<app-menu
  [trigger]="'Foods'"
  [data]="initialData"
  [isRootNode]="true"
></app-menu> -->
<!-- ---------------------------------------------------------------------------------------------- -->